
.orders {
  font-family: Georgia, sans-serif;
  color: #fef9ef;
  display: flex; 
 flex-direction: column;
}

.orders-container {
  margin: 1rem 3rem 0rem 3rem;

}


.order {
  font-family: Georgia, sans-serif;
  background-color: #9f86c0;
  color: #fef9ef;
  border: 1px solid #cec5f8;
  margin: 0.5rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  
}
.order h2{
  margin-left: 3rem;
}




.order-info {
  font-family: Georgia, sans-serif;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-left: 1px dotted white;
  padding-left: 1rem;
}

.order-info h4 {
  margin-right: 1rem;
}

.order-item > footer {
  display: flex;
  border-top: 1px solid #5e548e;
  align-items: center;
  justify-content: space-between;
}

.order-item > footer > * {
  flex-basis: 22%;
}
.order-item{
  font-family: Georgia, sans-serif;
  background-color: #9f86c0;
  color: #fef9ef;
  border: 1px solid #cec5f8;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}
.order-item-info{
  padding: 1rem;
}


.filter-bar {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.dropdown {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 1rem;
  color: white;
}
.dropdown label{
  padding: 0.5rem;
}

.order:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.btn-primary {
  margin: 1rem;
}

h1 {
  color: #fef9ef;
  font-family: Georgia, sans-serif;
}

.delete-btn{
  background: transparent;
}

.customer{
  font-family: Georgia, sans-serif;
  background-color: #9f86c0;
  color: #fef9ef;
  border: 1px solid #cec5f8;
  margin: 2rem 3rem;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.customer-info{
  padding: 0.15rem;
  margin-left: 1rem;
}
.customer-info h4{
  margin-right: 0.5rem;
}

