.codeBox{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
border: 0.75px solid #b7a1e2;
font-family: Georgia, sans-serif;
color: white;
margin: 3rem 3rem;
border: 1px solid var(--outline);
border-radius: 10px;
padding: 1rem 0rem 0rem 0rem;
box-shadow: 1px 2px 5px #5e548e;
background-color: #cdbaf2;
}
.btn{
    background-color: #5e548e;
}
.code{
    display: flex;
    flex-direction: column;
    align-items: center;
}