.cookies{
    margin: 2rem;
    color: whitesmoke;
}

#card{
    text-align: center;
    color:whitesmoke;
}
.body{
    text-align: center;
    color: whitesmoke;
    border-radius: 0 0 5px 5px ;
    border-top: 2px solid lightgray;
    background-color: #9f86c0;
}

.title{
    border-bottom: 1px solid whitesmoke;
    padding: 0.5rem;
    text-align: center;
    color: whitesmoke;
    margin: 2rem;
}

.pageTitle{
    font-weight: bolder;
    margin: 2rem;
    color: whitesmoke;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    border-bottom: 2px dotted whitesmoke;
}