.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #b7a1e2;
    margin: 0;
    width: 100%;
    padding: 0.75rem;
    height: 25px;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
    height: inherit;
  }

  .navbar-link {
    text-decoration: none;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-item:hover {
    transition: 0.3s;
    border-bottom: 4px solid var(--primary);
  }