.auth-container {
  /* border: 1px solid #5e548e; */
  margin: 3rem 5rem;
  padding: 2rem;
  border-radius: 1rem;
}

.header {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  color: white;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
  color: white;
  padding: 1rem;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}
.btn{
  background-color: #5e548e;
}